snippet met
	public function ${1}(${2})
	{
		${3}
	}

snippet pmet
	protected function ${1}(${2})
	{
		${3}
	}

snippet smet
	protected static function ${1}(${2})
	{
		${3}
	}

snippet rg
	Route::get('${1}', '${2}');

snippet rga
	Route::get('${1}', function () {
		${2}
	});

snippet rp
	Route::get('${1}', '${2}');

snippet rpa
	Route::put('${1}', function () {
		${2}
	});

snippet $
	$this->${1}
